# ─── SERVIDOR ──────────────────────────────────────────────
PORT=3001


MP_ACCESS_TOKEN=APP_USR-8160351875702559-031113-4b9b49220851f909e54bb5a8a254e723-3259264301

MP_PUBLIC_KEY=APP_USR-4e8909bc-2b3c-4f89-b849-0863e344d101

MP_WEBHOOK_URL=https://seudominio.com/api/webhooks/mercadopago

MP_WEBHOOK_SECRET=sua_chave_secreta_aqui
